{% extends 'base.html' %} 
{% block title %}
    <title>Chat</title>
{% endblock %} 
{% block maincontent %}
    <div class="col-sm-9 content mt-5 offset-sm-3">
        <div class="row fixed-top mx-0 justify-content-end chatHead z-2">
            <div class="col-12 col-sm-9 bg-white border-bottom">
                <div class="row">
                    <div class="col-2 d-inline-flex mt-3 mb-2"><a class="nes-btn" href="{{ url_for('chat_list') }}">退出</a></div>
                    <div class="col-10 d-flex align-items-center justify-content-center mt-3 mb-2"><p class="mb-0">チャットルーム {{ chat_id }</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="message-list chatContent">
                <!-- {% for message in messages %}
                <li>
                    <span class="message-user">{{ message['uid'] }}</span>
                    <p class="message-content">{{ message['message'] }}</p>
                    <span class="message-time">{{ message['created_at'].strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </li>
                {% endfor %} -->
                {% for message in messages %}
                <section class="message -left d-flex justify-content-start"></section>
                    <img src="https://github.com/mdo.png" alt="mdo" width="80" height="80" class="rounded-circle">
                    <span class="message-user">{{ message['uid'] }}</span>
                    <div class="nes-balloon from-left">
                        <p class="message-content">{{ message['message'] }}</p>
                    </div>
                    <span class="message-time">{{ message['created_at'].strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </section>
                {% endfor %}
            </section>
        </div>
        <form action="#" method="post">
            <div class="row fixed-bottom mx-0 justify-content-end chatbox z-2">
                <div class="nes-field col-12 col-sm-9 bg-white is-inline">
                    <input type="text" id="chat_text" name="message" class="nes-input my-2" placeholder="Type your message here">
                    <button type="submit" class="nes-btn is-primary">SEND</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}