{% extends 'base.html' %} 
{% block title %}
    <title>Home</title>
{% endblock %} 
{% block maincontent %}
    <div class="col-sm-9 content mt-5 offset-sm-3">
        <div class="col-12">
            <a href="{{ url_for('chat_list') }}" class="image_link">
                <img src="{{ url_for('static',filename='img/chatlistHome.png') }}" alt="chatlist"  class="img-fluid"/>
            </a>
        </div>
        <div class="col-12">
            <a href="{{ url_for('matching') }}" class="image_link">
                <img src="{{ url_for('static',filename='img/matchingHome.png') }}" alt="chatlist"  class="img-fluid"/>
            </a>
        </div>
    </div>
{% endblock %} 