/* hover effect */
.image_link{
    position:relative;
    display:inline-block;
    height:auto;
  }
.image_link:before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    background:#000;
    opacity:0;
    transition:0.3s;
  }
.image_link:hover:before{
    opacity:0.2;
  }